*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    background-color:rgba(0, 26, 43, 0.952);
    color: #ededed;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
}
#nav>h1{
    font-size: 30px;
    font-weight: 100;
    color: aqua;
}
#nav #part2{
display: flex;
align-items: center;
justify-content: center;
}
#nav #part2 a {
    text-decoration: none;
    color: #ededed;
    margin: 20px;
}
#nav #part2 a:hover {
    color:aqua;
}
#nav #part2 a:nth-last-child(1){
    /* background-color: yellow; */
    padding: 7px 18px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 1px solid #6e6e6e;

}
#nav #part2 a:nth-last-child(1) #green{
    width: 100%;
    background-color: rgb(96, 96, 96);
    position: absolute;
    top:0%;
    left: -100%;
    height: 100%;
    transition: left 0.45s ease;
}
#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}
#nav #part2 a:nth-last-child(1):hover #green{
    left: 0;
}
#main>h1{
    font-size: 5.4vw;
     /* background-color: red; */
     width: 60%;
     text-align: center;
     justify-content: center;
     position: relative;
     z-index: 99;
     font-weight: 100;
     text-transform: capitalize;
     opacity: 0;
     animation: slideBottom 1s ease forwards;
     animation-delay: .7s;
}
#main>h1::after{
    content: "";
    position:absolute;
    width: 35%;
    height: 16px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    bottom:-5%;
    left:50%;
    background-size: cover;
    transform: translate(-50%,0);
}
#main #img1{
    height: 400px;
    width: 260px;
    position: absolute;
    left: 6%;
    top: 20%;
}
#main #img2{
    height: 220px;
    width: 250px;
    position: absolute;
    right: 10%;
    top: 20%;
}
#main #img3{
    height: 210px;
    width: 200px;
    position: absolute;
    right: 7%;
    bottom: 6%;
}
#main img{
    transition: margin 0.8s ease;
}
#main img:hover{
    margin-top: -10px;
}
@keyframes slideBottom {
    0% {
        transform:translateY(-100px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}