*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#eeeeee;
    --main-color:#00abf0;
}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 3.5rem;
    color:var(--text-color);
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    font-size: 1.7rem;
    color:var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover,
.navbar a.active{
    color: aqua;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1 span{
    color: #0ef;
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 4s linear infinite;
    animation-delay: 2s ;
}

.home-content p{
    font-size: 2.2rem;
    margin: 2rem 0 4rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.2s;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height:100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    box-shadow: 0 0 5px #0ef,
    0 0 20px #0ef;
}
.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100px;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 260px;
    display: flex;
    justify-content: space-between;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.home-sci a:hover{
    color: var(--bg-color);
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-img {
    position: relative;
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 5px #0ef,
    0 0 15px #0ef;
}
.home-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: homeSpinner 8s linear infinite;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;
}
.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .8;
}

@keyframes homeBgText {
    0% ,10%,100% {
        background-position:-33rem 0;
    }
    60% ,85% {
        background-position:0 0;
    }
}

@keyframes slideRight {
    0% {
        transform:translateX(-100px);
        opacity: 0;
    }
    100% {
        transform:translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform:translateX(100px);
        opacity: 0;
    }
    100% {
        transform:translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform:translateY(100px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform:translateY(-100px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}
@keyframes homeSpinner {
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
